/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}       

/* Header */

.header {
    background-color: #800080;
    height: 80px;
    display: flex;
    justify-content: center;
}

.header img {
    transform: scale(145%);
}

/* hero */

.hero {
    height: 635px;
}

.herothumb {
    background-image: url(/img/main.webp);
    background-size: cover;
    background-position: 0%;
    filter: brightness(60%);
    height: 635px;
}

.title h2 {
    color: white;
    font-size: 4rem;
    position: absolute;
    top: 480px;
    left: 50px;
    font-family: 'OMEGA CT Regular';
}

.title h1 {
    color: white;
    font-size:7rem;
    position: absolute;
    top: 530px;
    left: 50px;
    font-family: 'Mistral';
}

.menu-button {
    border: 5px solid white;
    width: 300px;
    height: 90px;
    position: absolute;
    top: 530px;
    right: 50px;
    text-align: center;
}

.menu-button a {
    display: block;
    line-height: 90px;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: 'OMEGA CT Regular';
}

.menu-button:hover p {
    color: black;
}

.menu-button:hover {
    background-color: white;
}

/* quick access */
.quick-container {
    width: 100%;
    height: 1000px;
    background-image: url(/img/quickBG.png);
    background-size: cover;
    background-position: -50px -200px;
}

.wave {
    position: absolute;
    top: 1575px;
}

.qInfo {
    font-family: 'OMEGA CT Regular';
    display: block;
    position: absolute;
    color: white;
    text-align: center;
    line-height: 80px;
    font-size: 1.4rem;
    background-color: #800080;
    height: 80px;
    width: 100%;
}

/* MENU 1 */

.qRelax {
    text-decoration: none;
    display: block;
    transform: scale(60%);
    position: absolute;
    left: -150px;
    width: 1000px;
}

.qRelax:hover .mThumb1 {
    filter: brightness(70%);
}

.quickHead1 {
    height: 100px;
    width: 100%;
    background-color: #560056;
    display: flex;
}

.quickmenu1 img {
    transform: scale(50%);
}

.quickmenu1 h1 {
    color: white;
    line-height: 100px;
    font-size: 2.5rem;
    font-family: 'OMEGA CT Regular';
}

.mThumb1 {
    background-image: url(/img/menuThumb\(relax\).webp);
    background-position: 0px -100px;
    background-size: cover;
    height: 450px;
    width: 100%;
    border-radius: 0 0 20px 20px ;
}

/* MENU 2 */

.qRejuve {
    text-decoration: none;
    display: block;
    transform: scale(60%);
    position: absolute;
    width: 1000px;
    top: 900px;
    right: -170px;
}

.qRejuve:hover .mThumb2 {
    filter: brightness(70%);
}

.quickHead2 {
    height: 100px;
    width: 100%;
    background-color: #560056;
    display: flex;
}

.quickmenu2 img {
    transform: scale(50%);
}

.quickmenu2 h1 {
    color: white;
    line-height: 100px;
    font-size: 2.5rem;
    font-family: 'OMEGA CT Regular';
}

.mThumb2 {
    background-image: url(/img/menuThumb\(rejuvenate\).webp);
    background-position: 0px -210px;
    background-size: cover;
    height: 450px;
    width: 100%;
    border-radius: 0 0 20px 20px ;
}

/* MENU 3 */
.qPamper {
    text-decoration: none;
    display: block;
    transform: scale(60%);
    position: absolute;
    height: 300px;
    width: 1000px;
    top: 1180px;
    left: -150px;
}

.qPamper:hover .mThumb3 {
    filter: brightness(70%);
}

.quickHead3 {
    height: 100px;
    width: 100%;
    background-color: #560056;
    display: flex;
}

.quickmenu3 img {
    transform: scale(50%);
}

.quickmenu3 h1 {
    color: white;
    line-height: 100px;
    font-size: 2.5rem;
    font-family: 'OMEGA CT Regular';
}

.mThumb3 {
    background-image: url(/img/menuThumb\(pampering\).webp);
    background-position: 0px -200px;
    background-size: cover;
    height: 450px;
    width: 100%;
    border-radius: 0 0 20px 20px ;
}

/* menu */
/* head */
.menu-head {
    height: 400px;
}

.menu-head h1 {
    position: absolute;
    left: 700px;
    top: 1880px;
    font-size: 7rem;
    font-family: 'Mistral';
}

.menu-head h2 {
    position: absolute;
    left: 700px;
    top: 1980px;
    font-size: 3rem;
    font-family: 'OMEGA CT Regular';
}

.menu-head img {
    position: absolute;
    transform: scale(15%);
    top: 900px;
    left: -640px;
}

/* menu 1 */

.menuRelax {
    height: 1000px;
    width: 100%;
    margin: auto;
}

.menuRelax .containRelax{
    height:800px;
    width: 80%;
    margin: auto;
}

.containRelax #titleR {
    text-align: center;
    font-size: 3rem;
    color: #800080;
} 

.containRelax h1 {
    font-size: 2rem;
    color: #560056;
    font-weight: bold;
}

.containRelax h2 {
    font-size: 2rem;
    font-family: 'Mortega Regular';
}

.containRelax p {
    font-size: 1.2rem;
    font-family: 'OMEGA CT Regular';
}

.relaxGallery {
    display: flex;
    width: 80%;
    height: 100px;
    margin: auto;
    background-color: #c58dc5;
}

.relaxGallery #r1, #r2, #r3 {
    margin: 0 10px;
    height: 100px;
    width: 100px;
    background-color: #560056;
}

/* Menu 2 */

.menuReju {
    height: 1000px;
    width: 100%;
    margin: auto;
    background-color: rgb(233, 233, 233);
}

.menuReju .containReju{
    height:580px;
    width: 80%;
    margin: auto;
    padding-top: 100px;
}

.containReju #titleRj {
    text-align: center;
    font-size: 3rem;
    color: #800080;
} 

.containReju h1 {
    font-size: 2rem;
    color: #560056;
    font-weight: bold;
}

.containReju h2 {
    font-size: 2rem;
    font-family: 'Mortega Regular';
}

.containReju p {
    font-size: 1.2rem;
    font-family: 'OMEGA CT Regular';
}

.rejuGallery {
    display: flex;
    width: 80%;
    height: 100px;
    margin: auto;
    background-color: #c58dc5;
}

.rejuGallery #rj1, #rj2, #rj3 {
    margin: 0 10px;
    height: 100px;
    width: 100px;
    background-color: #560056;
}

/* menu 3 */

.menuPam {
    height: 1000px;
    width: 100%;
    margin: auto;
}

.menuPam .containPam{
    height: 500px;
    width: 80%;
    margin: auto;
    padding-top: 100px;
}

.containPam #titleP {
    text-align: center;
    font-size: 3rem;
    color: #800080;
} 

.containPam h1 {
    font-size: 2rem;
    color: #560056;
    font-weight: bold;
}

.containPam h2 {
    font-size: 2rem;
    font-family: 'Mortega Regular';
}

.containPam p {
    font-size: 1.2rem;
    font-family: 'OMEGA CT Regular';
}

.PamGallery {
    display: flex;
    width: 80%;
    height: 100px;
    margin: auto;
    background-color: #c58dc5;
}

.PamGallery #p1, #p2, #p3 {
    margin: 0 10px;
    height: 100px;
    width: 100px;
    background-color: #560056;
}

/* Footer */

.footer {
    background-color: #800080;
    height: 60px;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer h1 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'OMEGA CT Regular';
}

.footer p {
    font-family: 'OMEGA CT Regular';
}

/* fonts */

@font-face {
    font-family: 'Mistral';
    font-style: normal;
    font-weight: normal;
    src: local('Mistral'), url('MISTRAL.woff') format('woff');
    }

@font-face {
    font-family: 'OMEGA CT Regular';
    font-style: normal;
    font-weight: normal;
    src: local('OMEGA CT Regular'), url('OmegaCTRegular.woff') format('woff');
    }

@font-face {
    font-family: 'Mortega Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Mortega Regular'), url('Mortega.woff') format('woff');
    }