

/* quick access */
.quick-container {
    width: 100%;
    height: 1000px;
    background-color: #800080;
    background-size: cover;
    background-position: -50px -200px;
}

.wave {
    position: absolute;
    top: 1575px;
}

.qInfo {
    font-family: 'OMEGA CT Regular';
    display: block;
    position: absolute;
    color: white;
    text-align: center;
    line-height: 80px;
    font-size: 1.4rem;
    background-color: #800080;
    height: 80px;
    width: 100%;
}

/* MENU 1 */

.qRelax {
    text-decoration: none;
    display: block;
    transform: scale(60%);
    position: absolute;
    left: -150px;
    width: 1000px;
}

.qRelax:hover .mThumb1 {
    filter: brightness(70%);
}

.quickHead1 {
    height: 100px;
    width: 100%;
    background-color: #560056;
    display: flex;
}

.quickmenu1 img {
    transform: scale(50%);
}

.quickmenu1 h1 {
    color: white;
    line-height: 100px;
    font-size: 2.5rem;
    font-family: 'OMEGA CT Regular';
}

.mThumb1 {
    background-image: url(/img/menuThumb\(relax\).webp);
    background-position: 0px -100px;
    background-size: cover;
    height: 450px;
    width: 100%;
    border-radius: 0 0 20px 20px ;
}

/* MENU 2 */

.qRejuve {
    text-decoration: none;
    display: block;
    transform: scale(60%);
    position: absolute;
    width: 1000px;
    top: 900px;
    right: -170px;
}

.qRejuve:hover .mThumb2 {
    filter: brightness(70%);
}

.quickHead2 {
    height: 100px;
    width: 100%;
    background-color: #560056;
    display: flex;
}

.quickmenu2 img {
    transform: scale(50%);
}

.quickmenu2 h1 {
    color: white;
    line-height: 100px;
    font-size: 2.5rem;
    font-family: 'OMEGA CT Regular';
}

.mThumb2 {
    background-image: url(/img/menuThumb\(rejuvenate\).webp);
    background-position: 0px -210px;
    background-size: cover;
    height: 450px;
    width: 100%;
    border-radius: 0 0 20px 20px ;
}

/* MENU 3 */
.qPamper {
    text-decoration: none;
    display: block;
    transform: scale(60%);
    position: absolute;
    height: 300px;
    width: 1000px;
    top: 1180px;
    left: -150px;
}

.qPamper:hover .mThumb3 {
    filter: brightness(70%);
}

.quickHead3 {
    height: 100px;
    width: 100%;
    background-color: #560056;
    display: flex;
}

.quickmenu3 img {
    transform: scale(50%);
}

.quickmenu3 h1 {
    color: white;
    line-height: 100px;
    font-size: 2.5rem;
    font-family: 'OMEGA CT Regular';
}

.mThumb3 {
    background-image: url(/img/menuThumb\(pampering\).webp);
    background-position: 0px -200px;
    background-size: cover;
    height: 450px;
    width: 100%;
    border-radius: 0 0 20px 20px ;
}

/* menu */
/* head */
.menu-head {
    height: 400px;
}

.menu-head h1 {
    position: absolute;
    left: 700px;
    top: 1880px;
    font-size: 7rem;
    font-family: 'Mistral';
}

.menu-head h2 {
    position: absolute;
    left: 700px;
    top: 1980px;
    font-size: 3rem;
    font-family: 'OMEGA CT Regular';
}

.menu-head img {
    position: absolute;
    transform: scale(15%);
    top: 900px;
    left: -640px;
}

/* menu 1 */

.menuRelax {
    height: 1750px;
    width: 100%;
    margin: auto;
}

.menuRelax .containRelax{
    height:1150px;
    width: 80%;
    margin: auto;
}

.containRelax #titleR {
    text-align: center;
    font-size: 3rem;
    color: #800080;
} 

.containRelax h1 {
    font-size: 2rem;
    color: #560056;
    font-weight: bold;
}

.containRelax h2 {
    font-size: 2rem;
    font-family: 'Mortega Regular';
}

.containRelax h3 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'OMEGA CT Regular';
    margin-bottom: 10px;
}

.containRelax p {
    font-size: 1.2rem;
    font-family: 'OMEGA CT Regular';
}

.relaxGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    height: 530px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.relaxGallery #r1, #r2, #r3, #r4, #r5{
    margin: 2px;
    height: 250px;
    width: 300px;
    background-color: #560056;
    background-size: cover;
}

.relaxGallery #r1 {
    background-image: url(/img/relax1.webp);
    background-position: -150px;
}

.relaxGallery #r1:hover {
    filter: brightness(70%);
}

.relaxGallery #r2 {
    background-image: url(/img/relax2.webp);
    background-position: -40px;
}

.relaxGallery #r2:hover {
    filter: brightness(70%);
}

.relaxGallery #r3 {
    background-image: url(/img/relax3.webp);
    background-position: -50px;
}

.relaxGallery #r3:hover {
    filter: brightness(70%);
}

.relaxGallery #r4 {
    background-image: url(/img/relax4.webp);
    background-position: 0 -80px;
}

.relaxGallery #r4:hover {
    filter: brightness(70%);
}

.relaxGallery #r5 {
    background-image: url(/img/relax5.webp);
    background-position: 0 -110px;
}

.relaxGallery #r5:hover {
    filter: brightness(70%);
}

/* Menu 2 */

.menuReju {
    height: 1370px;
    width: 100%;
    margin: auto;
    background-color: rgb(233, 233, 233);
}

.menuReju .containReju{
    height:650px;
    width: 80%;
    margin: auto;
    padding-top: 100px;
}

.containReju #titleRj {
    text-align: center;
    font-size: 3rem;
    color: #800080;
} 

.containReju h1 {
    font-size: 2rem;
    color: #560056;
    font-weight: bold;
}

.containReju h2 {
    font-size: 2rem;
    font-family: 'Mortega Regular';
}

.containReju h3 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'OMEGA CT Regular';
    margin-bottom: 10px;
}

.containReju p {
    font-size: 1.2rem;
    font-family: 'OMEGA CT Regular';
}

.rejuGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    height: 530px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.rejuGallery #rj1, #rj2, #rj3, #rj4, #rj5{
    margin: 2px;
    height: 250px;
    width: 300px;
    background-color: #560056;
    background-size: cover;
}

.rejuGallery #rj1 {
    background-image: url(/img/reju1.webp);
    background-position: -20px;
}

.rejuGallery #rj1:hover {
    filter: brightness(70%);
}

.rejuGallery #rj2 {
    background-image: url(/img/reju2.webp);
    background-position: -40px;
}

.rejuxGallery #rj2:hover {
    filter: brightness(100%);
}

.rejuGallery #rj3 {
    background-image: url(/img/reju3.webp);
    background-position: -50px;
}

.rejuGallery #rj3:hover {
    filter: brightness(70%);
}

.rejuGallery #rj4 {
    background-image: url(/img/reju4.webp);
    background-position: 0 -100px;
}

.rejuGallery #rj4:hover {
    filter: brightness(70%);
}

.rejuGallery #rj5 {
    background-image: url(/img/reju5.webp);
    background-position: -40px;
}

.rejuGallery #rj5:hover {
    filter: brightness(70%);
}

/* menu 3 */

.menuPam {
    height: 1250px;
    width: 100%;
    margin: auto;
}

.menuPam .containPam{
    height: 550px;
    width: 80%;
    margin: auto;
    padding-top: 100px;
}

.containPam #titleP {
    text-align: center;
    font-size: 3rem;
    color: #800080;
} 

.containPam h1 {
    font-size: 2rem;
    color: #560056;
    font-weight: bold;
}

.containPam h2 {
    font-size: 2rem;
    font-family: 'Mortega Regular';
}

.containPam h3 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'OMEGA CT Regular';
    margin-bottom: 10px;
}

.containPam p {
    font-size: 1.2rem;
    font-family: 'OMEGA CT Regular';
}

.PamGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    height: 530px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.PamGallery #pamper1, #pamper2, #pamper3, #pamper4, #pamper5{
    margin: 2px;
    height: 250px;
    width: 300px;
    background-color: #560056;
    background-size: cover;
}

.PamGallery #pamper1 {
    background-image: url(/img/pamper1.webp);
    background-position: -20px;
}

.PamGallery #pamper1:hover {
    filter: brightness(70%);
}

.PamGallery #pamper2 {
    background-image: url(/img/pamper2.webp);
    background-position: -40px;
}

.PamGallery #pamper2:hover {
    filter: brightness(70%);
}

.PamGallery #pamper3 {
    background-image: url(/img/pamper3.webp);
    background-position: -50px;
}

.PamGallery #pamper3:hover {
    filter: brightness(70%);
}

.PamGallery #pamper4 {
    background-image: url(/img/pamper4.webp);
    background-position: -50px 0px;
}

.PamGallery #pamper4:hover {
    filter: brightness(70%);
}

.PamGallery #pamper5 {
    background-image: url(/img/pamper5.webp);
    background-position: -40px;
}

.PamGallery #pamper5:hover {
    filter: brightness(70%);
}
/* Footer */

.footer {
    background-color: #800080;
    height: 60px;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer h1 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'OMEGA CT Regular';
}

.footer p {
    font-family: 'OMEGA CT Regular';
}

/* fonts */

@font-face {
    font-family: 'Mistral';
    font-style: normal;
    font-weight: normal;
    src: local('Mistral'), url('MISTRAL.woff') format('woff');
    }

@font-face {
    font-family: 'OMEGA CT Regular';
    font-style: normal;
    font-weight: normal;
    src: local('OMEGA CT Regular'), url('OmegaCTRegular.woff') format('woff');
    }

@font-face {
    font-family: 'Mortega Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Mortega Regular'), url('Mortega.woff') format('woff');
    }